/node_modules
/public/hot
/public/storage
/storage/*.key
/.env
/.env.*.php
/.env.backup
/.env.production.backup
/public/index.php
.phpunit.result.cache
Docker
Dockerfile
docker-compose.yml
/.idea
/.vscode
/.DS_Store
*.pem
.env.local
.env.*.local
composer.lock
package-lock.json
yarn.lock
